@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  color: rgb(var(--foreground-rgb));
  background-color: #60647090;
  background-image: url(/world.svg);
}


.h-64{
  height:64px;
}

.h-80{
  height:80px;
}

.roboto{
  font-family:'Roboto',sans-serif;
}

.sans-serif{
  font-family:sans-serif;
}

.h-property{
  font-size:1.75em;
  font-weight:bold;
  color: #efeeeeb3;
}

.inline{
  display:inline;
}

header{
  display: flex;
  flex-direction: row;
  padding:16px;   
  box-sizing:border-box;
}

header div p{
  font-size:0.8em;
  color: #efeeeeb3;

}

.px-32{
  padding-left:32px;
  padding-right:32px;
}

header div{
  box-sizing: content-box;
  line-height: 1.1;
}

footer{
  width:100%;
  position:fixed;
  bottom:16px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

footer div{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:180px;
  height:40px;
  box-sizing: content-box;
  padding:8px;
  padding-left:16px;
  padding-right: 16px;
  
}


.link-share{
  border-radius:100%;
  height:40px;
  width:40px;
}

.link-share:hover{
  background-color:rgba(147, 222, 255,.5);

}

.sh-btn{
  box-shadow:0px 0px 5px 5px rgba(109, 242, 242,0.6);
}

.sh-btn:active{
  animation:move 1s -1s 1 ease normal forwards;
}

@keyframes move {
  to{
    box-shadow:0px 0px 5px 10px rgba(109, 242, 242,0.6);
  }
}

.txt-24{
  font-size:24px;
}

.r-btn{
  border-radius: 4px;
}

.explore{
  width:auto;
  background-color:#93DEFF;
  padding:16px;
  border-radius:8px;
  color:#323643;
  font-weight:bold;
  letter-spacing: 2px;
  box-sizing: content-box;
}

.btn-nav{
  width:auto;
  height:56px;
  padding:12px;
  background-color: #93DEFF;
  border-radius:8px;
  font-size:0.90em;
}

.nform{
  background-color: #606470;
  padding:24px 32px 18px 32px;
  border-radius:6px;
  row-gap: 16px;
}

.nform-header{
  font-size:1.5em;
  font-weight:bold;
  border:none;
  border-bottom:solid 5px white;
  padding-bottom:8px;
  margin-bottom:8px;
}

.nform-send{
  width:64px;
  height:32px;
  background-color:#93DEFF;
  
}
